<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>singalview-test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC0FB8CE1BEE26E500A30270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC0FB8E21BEE26E500A30270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC0FB8ED1BEE26E500A30270</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
